.header {
    position: fixed;
    height: 7%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(from var(--theme-header-background) h s calc(l * 0.9));
    font-size: 1.3em;

}
.header-item-container {
    position: absolute;
    left: 2ch;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2ch;
    height: 100%;
    color: var(--theme-header-main-text);
    width: calc(100% - (2 * 2ch));
}
.header-item-container a {
    text-decoration: underline;
    color: var(--theme-header-main-text);
}
.header-account {
    margin-left: auto;
}