* {
    display: none;
}

main {
    top: 0 !important;
    height: 100% !important;
    overflow: revert !important;
}
main > .main-table, html, body, main{
    width: 100% !important;
    margin: 0 !important;
    display: block !important;
    padding: 0 !important;
}
.main-table thead {
    display: table-header-group;
}
.main-table tbody {
    display: table-row-group;
}
.main-table tfoot {
    display: table-footer-group;
}
.main-table td:not(.mobile-replacement), .main-table th:not(.mobile-replacement) {
    display: table-cell !important;
    border-left: 1px #AAAAAA;
    border-right: 1px #AAAAAA;
}
.main-table td *:not(.mobile-replacement), .main-table th *:not(.mobile-replacement) {
    display: revert !important;
}
.main-table tr:not(.mobile-replacement) {
    display: table-row !important;
}
.main-table {
    table-layout: fixed !important;
}
.print-visible {
    display: revert !important;
    font-family: monospace;
}